/target
/contacts/*
/esplora/.docker_data/
/data
/frontend_build/*
/identity/*
/bills/*
/bills_keys/*
/bootstrap/*
/contacts/*
/quotes/*
/test/*
/files/*
/company/*
/pkg/*

.idea/
.worktrees/
Cargo.lock
